body{
  font-family: 'Source Sans Pro', sans-serif;
  /*background-image: url('assets/sayagata-400px.png');*/
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: blue;
}

.image{
  flex: 1;
  max-width: 20%;
  border-radius: 50%;
}

#gallery{
  flex: 2;
  display: flex;
  align-items: center;
  max-height: 50%;
  width: 100%;
  justify-content: center;
}

#header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  animation: fadein 1.5s;
  background-image: url('assets/sayagata-400px.png') !important;
}

@keyframes fadein {
  from {opacity: 0}
  to {opacity: 100}
}

#myName {
  flex: 1;
  margin-bottom: 0;
}

.info{
  margin-bottom:0;
}

#links{
  margin-top: 10px;
}

.link{
  height: 28px;
  padding: 5px;
}

#navContainer{
  text-align: center;
}
.page{
  margin-left: auto;
  margin-right: auto;
}

.slick-prev{
  left: 25%;
}

.slick-next{
  right: 25%;
}