body{
  font-family: 'Source Sans Pro', sans-serif;
  background-image: url('assets/sayagata-400px.png');
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.image{
  flex: 1;
  max-width: 20%;
  border-radius: 50%;
}

#gallery{
  flex: 2;
  display: flex;
  align-items: center;
  max-height: 50%;
  width: 100%;
  justify-content: center;
}

#home{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  animation: fadein 1.5s;
  margin-bottom: 25px;
}

@keyframes fadein {
  from {opacity: 0}
  to {opacity: 100}
}

#myName {
  flex: 1;
  margin-bottom: 0;
}

.info{
  margin-bottom:0;
}

#links{
  margin-top: 10px;
}

.link{
  height: 28px;
  padding: 5px;
}

#navContainer{
  text-align: center;
  width:40%;
  margin-left: auto;
  margin-right: auto;
}

.page{
  margin-left: auto;
  margin-right: auto;
}

.slick-next:before, .slick-prev:before {
  font-size: 20px;
  line-height: 1;
  opacity: .5;
  color: #0298F5;
}

.spiel {
  margin-top: 20px;
  width: 50%;
  left: auto;
  right: auto;
}